body {
  background-color: lightgray;
}

.blog-post-card {
  background-color: white;
  border-radius: 12px;
  width: 350px;
  text-align: left;
}

.post-img {
  border-bottom: 3px solid gray;
  width: 100%;
}

.post-content {
  padding: 20px;
}

.post-title {
  color: darkslategray;
  margin: 10px 0;
}
.post-excerpt {
  color: dimgray;
  margin: 10px 0 20px 0;
}

.read-more {
  color: white;
  background-color: steelblue;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
}

.read-more:hover {
  background-color: darkblue;
}
